<div
  class="h-52 text-gray-500 flex flex-col m-auto align-middle justify-center text-center"
>
  <h1 class="text-5xl font-viga"><%- data.statusCode %></h1>
  <h3 class="text-sm font-inter mt-1"><%- data.errMsg %></h3>
</div>
